body {
  background-color: #0d6efd;
}

.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}

#projek {
  background-color: #e2edff;
}

.cobaLagi {
  background-color: transparent; /* Green */
  border: transparent;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-weight: 20px;
}

#home > img {
  margin-top: -30px;
}
